// Place all the styles related to the yours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.header {
  height: 115px;
  border-bottom: 2px solid #dddddd;
  background-color: rgb(248, 4, 4);
}